body {
    background: #2689ba;
    font-family: 'Raleway', sans-serif;
    color: white;
}

li {
    list-style: none;
}

#startplace {
    text-align: center;
    padding-top: 11%;
    clear: both;
}

#startplace h1 {
    font-size: 80px;
}

#startplace li {
    display: inline-block;
    padding-right: 40px;
    font-size: 19px;
    cursor: pointer;
}

#startplace li:hover {
    text-decoration: underline;
}

#quizspot {
    padding-top: 11%;
    margin:0 auto;
    width: 1300px;
}

#quizspot p {
    font-size: 24px;
    clear: both;
}

.quizopt {
    float: left;
    margin: 10px;
}

.quizopt img {
    width: 250px;
    height: 250px;
    border: 3px solid black;
}

.quizopt img:hover {
    width: 230px;
    height: 230px;
    border: 3px solid #1a51e8;
}

.hidden {
    display: none;
}



